<a href="https://colab.research.google.com/github/mesdsingh/LetUsLearnPython/blob/main/12_Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center><bold> Comprehension</bold></center>

### List Comprehension
#### List = [expr **for** var **in** sequence **[optional for and/or if]**]

### Example of list comprehension

In [ ]:
import random
# generate 20 random numbers in the range 10 to 100.
a = [random.randint(10, 100) for n in range(20)]
print(f'List of Random Number:{a}')

List of Random Number:[34, 76, 80, 54, 27, 77, 98, 100, 97, 60, 56, 30, 69, 59, 54, 64, 87, 67, 42, 98]

In [ ]:
# generate square and cube of all the numbers between 0 and 10.
a = [(x, x**2, x**3) for x in range(11)]
a

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729),
 (10, 100, 1000)]

In [ ]:
# convert a list of strings to a list of number.
a = [int(x) for x in ['10', '20', '30', '40']]
a

[10, 20, 30, 40]

### Examples of use of if in list comprehension

In [ ]:
# generate a list of even numbers in the range of 10 to 30.
a = [ n for n in range(10, 30) if n % 2 == 0]
a

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
# from a list delete all numbers havning a value between 4 and 7.
a = [n for n in range(0, 11)]
print(f'list:{a}')
a = [num for num in a if num < 4 or num > 7]
print(f'updated list:{a}')

list:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
updated list:[0, 1, 2, 3, 8, 9, 10]

### Example of use of if-else in list comprehension.
when if-else both are used, place them before for-loop.

In [ ]:
# replace a vowel in a string with $.

a = ['*' if char in 'aeiou' else char for char in 'Sudarshan']
a

['S', '*', 'd', '*', 'r', 's', 'h', '*', 'n']

In [ ]:
# #  generate a list of square if number is even or cube if number is odd.
# a = [n if n**2 in n%2==0 else n**3 for n in range(11)]
# a

In [ ]:
# example of use of multiple for and if in list comprehension.
# flatten a list of lists.(use * to unpack list) (simple method)
arr = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
a = [*arr[0], *arr[1], *arr[2]]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
# flatten a list of lists.
arr = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
a = [n for element in arr for n in element]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
# use nasted for in list comprehensio.
a = [ a + b for a in [1, 2, 3] for b in [3, 4 ,5]]
a

[4, 5, 6, 5, 6, 7, 6, 7, 8]

In [ ]:
# use nasted for in list comprehensio.
a = [[ a + b]for a in [1, 2, 3] for b in [3, 4 ,5]]
a

[[4], [5], [6], [5], [6], [7], [6], [7], [8]]

In [ ]:
# use nasted for in list comprehensio.
a = [[ a + b for a in [1, 2, 3]] for b in [3, 4 ,5]]
a

[[4, 5, 6], [5, 6, 7], [6, 7, 8]]

In [ ]:
# use nasted for in list comprehensio.
a = [[ a + b for a in [1, 2, 3] for b in [3, 4 ,5]]]
a

[[4, 5, 6, 5, 6, 7, 6, 7, 8]]

In [ ]:
# example of use of multiple for and if in list comprehension.
# generate unique combination of 1, 2 and 3
a = [(i, j, k) for i in [1, 2, 3] for j in [1, 2, 3] for k in [1, 2, 3]\
   if i !=j and j != k and k !=i]
a

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
alternative_list = [21, 26, 31, 34, 41, 48, 59, 63]

[num**2 for num in alternative_list if 30 < num < 50]

[961, 1156, 1681, 2304]

In [ ]:
# Speed Test: List Comprehension vs. for loop

import random
import pandas as pd

num_list = random.sample(range(0, 1000000), 10000)

def for_loop():
    new_list = []
    for num in num_list:
        if num > 500000:
            new_list.append(num)

def list_comp():
    new_list = [num for num in num_list if num > 500000]


# Calculate timings
for_loop_time = %timeit -o -q for_loop()
list_comp_time = %timeit -o -q list_comp()

# Create data table
data = [['For Loop', for_loop_time.average], ['List Comprehension', list_comp_time.average]]
df = pd.DataFrame(data, columns=['Type', 'microseconds'])
df.microseconds = round(df.microseconds * 1e6, 2)
df.sort_values('microseconds', inplace=True)

df

                 Type  microseconds
1  List Comprehension        208.80
0            For Loop        234.73

In [ ]:
num_list = [4, 11, 2, 19, 7, 6, 25, 12]
new_list = [num for num in num_list if num > 10]
new_list

[11, 19, 25, 12]

In [ ]:
new_list = []
for num in num_list:
    if num > 10:
        new_list.append(num)
new_list

[11, 19, 25, 12]

In [ ]:
[num for num in num_list if num > 4]

[11, 19, 7, 6, 25, 12]

In [ ]:
new_list = []
for num in num_list:
    if num > 4:
        new_list.append(num)
new_list

[11, 19, 7, 6, 25, 12]

In [ ]:
num_list = [4, 11, 2, 19, 7, 6, 25, 12]

[num for num in num_list if num > 4 and num < 8]

[7, 6]

In [ ]:
new_list = []
for num in num_list:
    if num > 4 and num < 8:
        new_list.append(num)
new_list

[7, 6]

In [ ]:
list_of_lists = [['4', '8'], ['4', '2', '28'], ['1', '12'], ['3', '6', '2']]
[int(i) for sublist in list_of_lists for i in sublist]

[4, 8, 4, 2, 28, 1, 12, 3, 6, 2]

In [ ]:
[[int(j) for j in i] for i in list_of_lists]

[[4, 8], [4, 2, 28], [1, 12], [3, 6, 2]]

In [ ]:
new_list = []
for i in list_of_lists:
    new_list.append([int(j) for j in i])
new_list

[[4, 8], [4, 2, 28], [1, 12], [3, 6, 2]]

### Set Comprehension

#### set = {expr for var in sequence[optional for and/or if] }

### Example of set comprehension

In [ ]:
# generate 20 random numbers in the range 10 to 100.
a = {random.randint(10, 100) for n in range(20)}
print(f'set of Random Number:{a}')

set of Random Number:{36, 69, 41, 10, 75, 79, 49, 18, 83, 82, 50, 86, 54, 56, 26, 91, 93, 30}

In [ ]:
# generate a set containing square of all numbers between 0 to 10.
a = { i ** 2 for i in range(10)}
a

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [ ]:
# generate square and cube of all the numbers between 0 and 10.
a = {(x, x**2, x**3) for x in range(11)}
a

{(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729),
 (10, 100, 1000)}

In [ ]:
# from set delete all numbers havning a value between 4 and 7.
a = {n for n in range(0, 11)}
print(f'list:{a}')
a = {num for num in a if num < 4 or num > 7}
print(f'updated list:{a}')

list:{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
updated list:{0, 1, 2, 3, 8, 9, 10}

### Dictionary Comprehension

#### dict_var = {key:value for (key, value) in dictionanry.items()}

### Example of dictionary comprehension

In [ ]:
d = {'a':1, 'b':2, 'c':3, 'd':4}

# obtain dictionary with each value cubed.
d1 = {k:v**3 for (k,v) in d.items()}
d1

{'a': 1, 'b': 8, 'c': 27, 'd': 64}

In [ ]:
# obtain dictionary with each value cubed if value >3.
d1 = {k:v**3 for (k,v) in d.items()if v>3}
d1

{'d': 64}

In [ ]:
# identify odd and even entries in the dictionary.
d1 = {k:('Even' if v % 2 == 0 else 'Odd') for (k,v) in d.items()}
d1

{'a': 'Odd', 'b': 'Even', 'c': 'Odd', 'd': 'Even'}

# Problems

# Excercises 12.B.

### (a).Write a program that generates a list of integer coordinates for all points in the first quadrant from (1, 1) to (5, 5). Use list comprehension.

In [ ]:
lst = [(x,y) for x in range(1,6) for y in range(1,6)]
lst

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5)]

###(b).Using list comprehension, write a program to create a list by multiplying each element in the list by 10.

In [ ]:
lst = [-7, 10, 34, 2, 5, 45, 67]
lst = [(x*10) for x in lst]
lst

[-70, 100, 340, 20, 50, 450, 670]

### (c). Write a program to generate first 20 Fibonacci numbers using list.

In [ ]:
lst = [0, 1]
fib_series = lst[0:2] + [lst.append(lst[-1] + lst[-2]) or lst[-1] for i in range(20)]
fib_series

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946]

### (d). Write a program to generate two lists using list comprehension. One list should contain first 20 odd numbers and another should contain first 20 even numbers.

In [ ]:
even_list = [x for x in range(40) if x % 2 == 0]
odd_list = [x for x in range(40) if x % 2 != 0]
print(f'First 20 Even List: {even_list}, Total count:{len(even_list)}')
print(f'First 20 Odd List: {odd_list}, Total count:{len(odd_list)}')

First 20 Even List: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38], Total count:20
First 20 Odd List: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39], Total count:20

### (e). Suppose a list contains positive and negative numbers. Write a program to create two lists—one containing positive numbers and another containing negative numbers.

In [ ]:
lst = [1, 2, 5, -11, -9, 10, 13, 15, -17, -19, -21, -23, 25, 27, -29]
positive_list = [x for x in lst if x > 0]
negative_list = [x for x in lst if x < 0]
print(f'Positive List: {positive_list}')
print(f'Negative List: {negative_list}')

Positive List: [1, 2, 5, 10, 13, 15, 25, 27]
Negative List: [-11, -9, -17, -19, -21, -23, -29]

### (f). Suppose a list contains 5 strings. Write a program to convert all these strings to uppercase.

In [ ]:
lst = ['abc', 'def', 'ghi', 'jkl', 'lmn']
upper_lst = [word.upper() for word in lst]
upper_lst

['ABC', 'DEF', 'GHI', 'JKL', 'LMN']

###(g). Write a program that converts list of temperatures in Fahrenheit degrees to equivalent Celsius degrees using list comprehension.

In [ ]:
farh = [101, 120, 100, 67, 32]
celsius = [round(((e - 32) * 5 / 9), 1) for e in farh]
print(celsius)

[38.3, 48.9, 37.8, 19.4, 0.0]

### (h). Write a program to generate a 2D matrix of size 4 x 5 containing random multiples of 4 in the range 40 to 160.