<a href="https://colab.research.google.com/github/mesdsingh/LetUsLearnPython/blob/main/8.%20Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problems

## Problem 8.1.

Perform the following operations on a list of names.
- Create a list of 5 names - 'Anil', 'Amol', 'Aditya', 'Avi', 'Alka'.
- Insert a name 'Anuj' before 'Aditya'.
- Append a name 'Zulu.
- Delete 'Avi' from the list.
- Replace 'Anil' with 'AnilKumar'.
- Sort all the name in the list.
- Print reversed sorted list.

In [ ]:
# Create a list of 5 names - 'Anil', 'Amol', 'Aditya', 'Avi', 'Alka'.
names = ['Anil', 'Amol', 'Aditya', 'Avi', 'Alka']
print(names)

# Insert a name 'Anuj' before 'Aditya'.
names.insert(2, 'Anuj')
print(names)

# Append a name 'Zulu.
names.append('Zulu')
print(names)

# Delete 'Avi' from the list.
names.remove('Avi')
print(names)

# Replace 'Anil' with 'AnilKumar'.
i = names.index('Anil')
names[i] = 'AnilKumar'
print(names)

# Sort all the name in the list.
names.sort()
print(names)

# Print reversed sorted list.
names.reverse()
print(names)

['Anil', 'Amol', 'Aditya', 'Avi', 'Alka']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Avi', 'Alka']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Avi', 'Alka', 'Zulu']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Alka', 'Zulu']
['AnilKumar', 'Amol', 'Anuj', 'Aditya', 'Alka', 'Zulu']
['Aditya', 'Alka', 'Amol', 'AnilKumar', 'Anuj', 'Zulu']
['Zulu', 'Anuj', 'AnilKumar', 'Amol', 'Alka', 'Aditya']

## Problem 8.2.

Perform the following operations on a list of numbers.
- Create a list of 5 odd numbers.
- Create a list of 5 even numbers.
- Combine the two lists.
- Add prime numbers 11, 17, 29 at the beginning of the combined list.
- Report how many elements are present in the list.
- Replace last 3 numbers in the list with 100, 200, 300.
- Delete all the numbers in the list.
- Delete the list.

In [ ]:
# Create a list of 5 odd numbers.
odd_lists = [ 1, 3, 5, 7, 9]
print(odd_lists)

# Create a list of 5 even numbers.
even_lists = [2, 4, 6, 8, 10]
print(even_lists)

# Combine the two lists.
lst1 = odd_lists + even_lists
print(lst1)

# Add prime numbers 11, 17, 29 at the beginning of the combined list.
lst1 = [11, 17, 29] + lst1
print(lst1)

# Report how many elements are present in the list.
num = len(lst1)
print(f'Number of elements in list: {num}')

# Replace last 3 numbers in the list with 100, 200, 300.
lst1[num-3:num] = [100, 200, 300]
print(lst1)

# Delete all the numbers in the list.
lst1[:] = []
print(lst1)

# Delete the list.
del lst1
print('List Deleted')

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
[11, 17, 29, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
Number of elements in list: 13
[11, 17, 29, 1, 3, 5, 7, 9, 2, 4, 100, 200, 300]
[]
List Deleted

## Problem 8.3.

Write a program to implement a Stack data structure. Stack is a Last In First Out (LIFO) list in which addition and deletion takes place at the same end.

In [ ]:
# Stack - LIFO list
s = []

# Push elements on stack.
s.append('Suhana')
s.append('Shanana')
s.append('Shakila')
s.append('Sameera')
print(s)


# Pop elements from stack.
print(s.pop())
print(s.pop())
# print(s.pop())
print(s)

['Suhana', 'Shanana', 'Shakila', 'Sameera']
Sameera
Shakila
['Suhana', 'Shanana']

## Problem 8.4.

Write a program to implement a Queue data structure. Queue is a First In First Out (FiFo) list, in which addition takes place at the rear end of the queue and deletion takes place at the front end of the queue.

In [ ]:
import collections

q = collections.deque()

# add elements in queue.
q.append('Suhana')
q.append('Shanana')
q.append('Shakila')
q.append('Sameera')
print(q)

# delete elements in queue.
print(q.popleft())
print(q.popleft())
# print(q.popleft())
print(q)

deque(['Suhana', 'Shanana', 'Shakila', 'Sameera'])
Suhana
Shanana
deque(['Shakila', 'Sameera'])

## Problem 8.5.

Write a program to generate and store in a list 20 random numbers in the range 10 to 100. From this list delete all those entries which have value between 20 and 50. Print the remaining list.

In [8]:
import random

lst = []
i = 1
while i <= 25:
  num = random.randint(10, 100)
  lst.append(num)
  i += 1
print(lst)
print(len(lst))

for num in lst:
  if num >20 and num < 50:
    lst.remove(num)

print(lst)
print(len(lst))

[40, 77, 83, 10, 31, 68, 55, 58, 56, 28, 47, 94, 34, 94, 44, 30, 89, 25, 80, 13, 73, 19, 36, 79, 66]
25
[77, 83, 10, 68, 55, 58, 56, 47, 94, 94, 30, 89, 80, 13, 73, 19, 79, 66]
18

## Problem 8.6.

Write a program to add two 3x4 matricex.

In [12]:
matrix1 = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
matrix2 = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
matrix3 = [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

for i in range(len(matrix1)):
  for j in range(len(matrix1[0])):
    matrix3[i][j] = matrix1[i][j] + matrix2[i][j]
print(matrix3)

[[2, 4, 6, 8], [10, 12, 14, 16], [18, 20, 22, 24]]

# Excercises

## Excercise 8.A

In [13]:
#  What will be the output of the following  programs ?
# (a)
msg = list('www.kicit.com')
ch = msg[-1]
print(ch)

m

In [14]:
# (b)
msg = list('kanlabs.teachable.com')
s = msg[4:6]
print(s)

['a', 'b']

In [15]:
# (c)
msg = 'Online Courses - Kanlabs'
s = list(msg[:3])
print(s)

['O', 'n', 'l']

In [16]:
# (d)
msg ='Rahate Colony'
s = list(msg[-5:-2])
print(s)

['o', 'l', 'o']

In [17]:
# (e)
s = list('Kanlabs')
t = s[::-1]
print(t)

['s', 'b', 'a', 'l', 'n', 'a', 'K']

In [24]:
# (f)
num1 = [10, 20, 30, 40, 50]
num2 = num1
print(id(num1))
print(id(num2))
print(type(num1))
print(type(num2))
print(isinstance(num1, list))
print(isinstance(num2, list))
print(num1 is num2)

132051607676864
132051607676864
<class 'list'>
<class 'list'>
True
True
True