<a href="https://colab.research.google.com/github/mesdsingh/LetUsLearnPython/blob/main/8_Lists_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem 8.1'.

Perform the following operations on a list of names.
- Create a list of 5 names - 'Anil', 'Amol', 'Aditya', 'Avi', 'Alka'.
- Insert a name 'Anuj' before 'Aditya'.
- Append a name 'Zulu.
- Delete 'Avi' from the list.
- Replace 'Anil' with 'AnilKumar'.
- Sort all the name in the list.
- Print reversed sorted list.

In [9]:
# Create a list of 5 names - 'Anil', 'Amol', 'Aditya', 'Avi', 'Alka'.
names = ['Anil', 'Amol', 'Aditya', 'Avi', 'Alka']
print(names)

# Insert a name 'Anuj' before 'Aditya'.
names.insert(2, 'Anuj')
print(names)

# Append a name 'Zulu.
names.append('Zulu')
print(names)

# Delete 'Avi' from the list.
names.remove('Avi')
print(names)

['Anil', 'Amol', 'Aditya', 'Avi', 'Alka']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Avi', 'Alka']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Avi', 'Alka', 'Zulu']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Alka', 'Zulu']

In [11]:
# Replace 'Anil' with 'AnilKumar'.
i = names.index('Anil')
names[i] = 'AnilKumar'
print(names)

['AnilKumar', 'Amol', 'Anuj', 'Aditya', 'Alka', 'Zulu']